.input-edit-department {
    width: 422px;
    height: 113px;
    border: 1px solid var(--color10);
    margin-top: 30px;
    margin-bottom: 14px;
}

.input-edit-department::placeholder {
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-3);
    color: var(--color11);
}

.select-modals {
    width: 422px;
    height: 52px;
    border: 1px solid var(--color10);
    margin-bottom: 15px;
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-3);
    color: var(--color11);
    cursor: pointer;
}

.input-default {
    width: 422px;
    height: 52px;
    border: 1px solid var(--color10);
}

.input-default::placeholder {
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-3);
    color: var(--color11);
}

.input-form-box {
    min-width: 294px;
    width: 100%;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}

.input-form-box::placeholder {
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-3);
    color: rgba(0, 0, 0, 0.5);
}